
:root {
	/* start color variables */

	--very-dark-desaturated-blue:hsl(238, 29%, 16%);
	--soft-red:hsl(14, 88%, 65%);
	--soft-violet: hsl(273, 75%, 66%);
	--soft-blue: hsl(240, 73%, 65%);

	--very-dark-grayish-blue:hsl(237, 12%, 33%);
	--dark-grayish-blue: hsl(240, 6%, 50%);

	--light-grayish-blue:hsl(240, 5%, 91%);
	--white:#fff;
	--orange:orange;

	/* end color variables */

	/* start font variables */

	--font-size: 12px/*75%*/;
	--font-name:'Kumbh Sans';
	--small-font:400;
	--large-font:700;

	/* end font variables */

	/* start layout variables */

	--mobile-breakpoint:375px/*calc(375px / var(--font-size,12px))rem*/;
	--desktop-breakpoint:calc(1440px / var(--font-size,12px))rem;

	/* end layout variables */
}